services:
  laba1_app:
    image: orel2287/laba_1
    container_name: weatherApp-container
    command: python main.py

  nginx:
    image: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf/
    ports:
      - "80:80"
    depends_on:
      - laba1_app
  watchtower:
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 30 weatherApp-container nginx-container
