name: Laba1

on:

  push:

    branches: [main]

  pull_request:

    branches: [main]




jobs:

  build:

    runs-on: ubuntu-latest




    steps:

    - name: Checkout Repository

      uses: actions/checkout@v2



    - name: Set up Python 3.8

      uses: actions/setup-python@v4

      with:

        python-version: 3.8



    - name: Install Dependencies

      run: |

        python -m pip install --upgrade pip

        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

        pip install flake8 pytest




    - name: Lint with flake8

      run: |

        # stop the build if there are Python syntax errors or undefined names

        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
